<div class="app-layout">
  <!-- Sidebar -->

  <app-sidebar
    [isCollapsed]="isSidebarCollapsed"
    (collapseChange)="onSidebarCollapsedChange($event)"
  ></app-sidebar>

  <!-- Main Container -->
  <div class="main-container flex-col">
    <!-- header -->
    <app-header
      [userName]="'John Doe'"
      [userRole]="'Administrator'"
      (menuToggle)="onSidebarToggle()"
    ></app-header>
    <!-- Content Area -->
    <div class="content-wrapper">
      <main class="main-content">
        <!-- Breadcrumb (optional) -->
        <div class="breadcrumb-container">
          <nav class="breadcrumb" aria-label="Breadcrumb">
            <ol>
              <li><a href="#" class="common_header">Home</a></li>
              <li><a href="#">Licensing Services</a></li>
              <li aria-current="page">Issue DUP Certificate</li>
            </ol>
          </nav>
        </div>

        <!-- Page Content -->
        <div class="page-content">
          <router-outlet></router-outlet>
        </div>
      </main>

      <!-- Footer -->
      <app-footer></app-footer>
    </div>
  </div>

  <!-- Mobile Menu Overlay -->
  <div
    class="mobile-overlay"
    *ngIf="isMobileMenuOpen"

  ></div>
</div>
